// Place all the styles related to the product_cates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_list_all{

}
.product_list{
	width: 180px;
}
.product_list h3{
	background-color: #333;
	color: #fff;
	padding: 2px;
	margin: 10px 8px 10px 0;
}
.product_list ul{
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
}
.item_li{
  	float: left;
  	margin: 0 8px 8px 0;
  	padding: 0px;
  	width: 80px;
  	height: 80px;
  	background-color: #ccc;
  	display: block;
  	overflow: hidden;
  	border: solid 1px #333;
}
.product_title{
	display: block;
    color: #f52969;
}

#product_main_show h4{
	padding: 4px;
	margin: 0;
    font-weight: 600;
}
#product_main_show .content{
    background-color: #fff;
    margin: -6px 0 -6px 0;
    padding: 20px;
}
#product_main_show h1{
    padding: 5px;
	margin: 0;
}
#product_main_show .item{
	margin: 10px 0 10px 0;
}
#product_main_show .description{
	padding: 0;
	margin: 0;
}
.main_product_image{
	float: left;
  	margin: 0;
  	padding: 0px;
  	background-color: #ccc;
  	display: block;
  	overflow: hidden;
  	border: solid 1px #333;
}

