<div class="main_corner">
<%=image_tag asset_path("show_06.jpg"), :width =>'660px' %>
<div class="content">
<h2 style='font-size: 24px; font-weight: 600; padding: 20px 0; border-bottom: dotted 2px #333;'>
  我要加盟
</h2>


<%= render 'form' %>

<br/>
<a href="/assets/doc/jiamengshenqing.doc" target="_blank">点击下载欧美龙加盟申请表</a>
</div>
<%=image_tag asset_path("show_08.jpg"), :width =>'660px' %>
</div>