<div class="main_corner">
<%=image_tag asset_path("show_06.jpg"), :width =>'660px' %>
<div class="content">
<h2 style='font-size: 24px; font-weight: 600; padding: 20px 0; border-bottom: dotted 2px #333;'>
    我要加盟
  </h2>
 
 <br/>
 <div style="color: #cc0000; font-size: 16px;">信息提交成功！请等待客服与你取得联系。</div>
  <div class="address">
    <% page = Page.find_by_path_name("about:address") %>
    <%= page.body.html_safe %>
  </div>
</div>
<%=image_tag asset_path("show_08.jpg"), :width =>'660px' %>
</div>