<% title @product_item.title %>
<% meta_keywords @product_item.title %>
<% nav_bar [['首页', '/'],[@product_item.product_cate.name, '/product_cates/'+ @product_item.product_cate.id.to_s]] %>
<% side_news @product_item.product_cate.name %>

<h2>
  <%= @product_item.title %>
</h2>
<%= image_tag @product_item.image_path %>
<p>
  <%= simple_format @product_item.description %>
</p>
