<div id="index_banner">
   <p class="big_font"><a href="javascript:void(0);"></a></p>
   <table width="960" border="0" cellspacing="0" cellpadding="0">
      <tr>
          <td width="100" align="center"><%=image_tag asset_path("tou/p1.gif"), :width => '95' %></td>
          <td width="120" align="left" valign="top">
            <p class="mid_title">享受来自欧美先进、健康、高质、环保的干洗服务。</p>
            <p class="mid_desc">您的净界就是我们的追求！</p>
          </td>
          <td width="100" align="center"><%=image_tag asset_path("tou/p4.gif"), :width => '95' %></td>
          <td width="120" align="left" valign="top">
            <p class="mid_title">多年多种模式成功的单店经营管理经验让您加盟无忧！</p>
            <p class="mid_desc">您的成功就是我们的目标！</p></td>
          <td width="100" align="center"><%=image_tag asset_path("tou/p3.gif"), :width => '95' %></td>
          <td width="120" align="left" valign="top">
            <p class="mid_title">诚信可以逾越任何困难和问题，我们坚信真诚的力量。</p>
            <p class="mid_desc">您的满意就是我们的快乐！</p></td>
          <td width="100" align="center"><%=image_tag asset_path("tou/p2.gif"), :width => '95' %></td>
          <td width="120" align="left" valign="top">
            <p class="mid_title">我们接受来自顾客，<br/>加盟店主的批评与建议并予采纳。</p><p class="mid_desc">您的建议<br/>就是我们的财富！</p></td>
      </tr>
  </table>
  <%#image_tag asset_path("index_banner.png"), :width => '960' %>
  <div class = "border_black_1" style="margin-top: 10px;"></div>
  <div id="banner_english">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="255" align="left" valign="top">
            <p>WELCOME TO OMERO<BR/>FULL SERVICE OF DRYERS</P>
          </td>
          <td width="705"  align="CENTER" valign="top">
            <P>OMERO LAUNDRY GROUP SERVE THE DRY-CLEANING MARKET IN CHINA METROPOLITAN AREAS.</P>
            <P style="font-size:12px;">WE HAVE BUILT HUNDREDS OF DRY-CLEANING STORES AS WELL AS MANY CITIES.</P>
          </td>
        </tr>
    </table>
  </div>
</div>