<div id="index_banner">
 <p class="big_font">欢迎进入欧美龙洗衣连锁</p>
 <p class="small_font">我们将竭诚为您服务！</p>
 <table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="10%">&nbsp;</td>
    <td width="15%" align="left" valign="top"><p class="mid_title">标准VI系统</p>
       <p class="mid_desc">总部统一标准的分店形象设计</p>
    </td>
    <td width="11%">&nbsp;</td>
    <td width="14%" align="left" valign="top"><p class="mid_title">先进洗涤产品</p>
      <p class="mid_desc">欧美原装进口干洗设备及产品</p></td>
    <td width="13%">&nbsp;</td>
    <td width="12%" align="left" valign="top"><p class="mid_title">欧美龙企业个性</p>
      <p class="mid_desc">完美融合东西文化，打造出独特的文化</p></td>
    <td width="14%">&nbsp;</td>
    <td width="11%" align="left" valign="top"><p class="mid_title">高级数据管理</p>
      <p class="mid_desc">流程化一体化信息服务平台</p></td>
  </tr>
</table>

</div>