<form id="form1" name="form1" method="post" action="">
  <input type="text" name="search" id="search" value="搜索相关内容" />
  <input type="image" name="imageField" id="imageField" src="<%=asset_path("3_14.jpg")%>" />
</form>