<div class="footer_phone">
  <table width="100%"><tr><td>
   24小时加盟热线： <%= Site.find_by_name('site_phone').value %>
   </td><td width="10%">&nbsp;</td><td width="40%" align="right">
     <div class="bshare1"><%= render :partial => 'layouts/bshare' %></div>
  </td></tr>
  </table>
</div>
<br/>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="34%" rowspan="3" align="center" valign="middle">
     <%= image_tag asset_path("logo_footer.png"), :width => "220", :alt => "欧美龙洗衣连锁" %>
    <td width="66%" height="30px" class="border_black_2">
      <span style="font-size: 14px;">本站导航</span>
    </td>
  </tr>
  <tr>
    <td height="162" align="left" valign="top" class="border_black_2">
    <br/>
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="site_map" align="center" class="table_footer_map">
  <tr>
  <td height="206" align="left" valign="top">
    <h3 style="margin:0; padding:0;"><a id='top_a_1_0' class='top_a' href='/pages/about'>关于欧美龙</a></h3>
<a id='sub_a_2_0' class='sub_a' href='/pages/about:about_us'>背景介绍</a><br/>
<a id='sub_a_3_1' class='sub_a' href='/pages/about:culture'>企业文化</a><br/>
<a id='sub_a_4_2' class='sub_a' href='/pages/about:brand'>品牌定位</a><br/>
<a id='sub_a_5_3' class='sub_a' href='/pages/about:address'>公司地址</a><br/>
<a id='sub_a_6_4' class='sub_a' href='/pages/about:history'>发展历程</a><br/>
<a id='sub_a_7_5' class='sub_a' href='/pages/about:honor'>资质荣誉</a><br/>
<a id='sub_a_8_6' class='sub_a' href='/pages/about:vision'>总部风采</a><br/>
<a id='sub_a_9_7' class='sub_a' href='/pages/about:career'>人才招聘</a><br/>

    </td>
    <td align="left" valign="top">
    <h3 style="margin:0; padding:0;"><a id='top_a_10_1' class='top_a' href='/pages/join'>加盟合作</a></h3>
<a id='sub_a_12_1' class='sub_a' href='/pages/join:join_process'>加盟流程</a><br/>
<a id='sub_a_13_2' class='sub_a' href='/pages/join:join_franchise'>特许经营</a><br/>
<a id='sub_a_14_3' class='sub_a' href='/pages/join:join_advantage'>特许优势</a><br/>
<a id='sub_a_15_4' class='sub_a' href='/pages/join:join_support'>总部支持</a><br/>
<a id='sub_a_16_5' class='sub_a' href='/pages/join:join_service'>服务特色</a><br/>
<a id='sub_a_17_6' class='sub_a' href='/pages/join:about_laundry'>行业分析</a><br/>
<a id='sub_a_18_7' class='sub_a' href='/pages/join:quora'>问题解答</a><br/>
    </td>
    <td align="left" valign="top">
    <h3 style="margin:0; padding:0;"><a id='top_a_19_2' class='top_a' href='/pages/ensure'>保障体系</a></h3>
<a id='sub_a_25_5' class='sub_a' href='/pages/ensure:after_sale_service'>服务体系</a><br/>    
<a id='sub_a_20_0' class='sub_a' href='/pages/ensure:branch_store_system'>分店形象系统</a><br/>
<a id='sub_a_21_1' class='sub_a' href='/pages/ensure:join_investment'>投资回报</a><br/>
<a id='sub_a_22_2' class='sub_a' href='/pages/ensure:training'>技术培训</a><br/>
<a id='sub_a_23_3' class='sub_a' href='/pages/ensure:download'>资料下载</a><br/>
<a id='sub_a_24_4' class='sub_a' href='/pages/ensure:join_guide'>运营指导</a><br/>
    </td>
    <td align="left" valign="top">
    <h3 style="margin:0; padding:0;"><a id='top_a_26_3' class='top_a' href='/pages/stores'>加盟店分布</a></h3>
<a id='sub_a_27_0' class='sub_a' href='/pages/stores:store_search'>分店查询</a><br/>
<a id='sub_a_28_1' class='sub_a' href='/pages/stores:store_gallery'>分店展示</a><br/>
    </td>
    <td align="left" valign="top">
    <h3 style="margin:0; padding:0;"><a id='top_a_29_4' class='top_a' href='/pages/product'>产品中心</a></h3>
<a id='sub_a_30_0' class='sub_a' href='/product_cates/1'>洗涤设备</a><br/>
<a id='sub_a_31_1' class='sub_a' href='/product_cates/2'>干洗用品</a><br/>
<a id='sub_a_32_2' class='sub_a' href='/product_cates/3'>水洗用品</a><br/>
<a id='sub_a_33_3' class='sub_a' href='/product_cates/4'>辅助设备</a><br/>
<a id='sub_a_34_4' class='sub_a' href='/product_cates/5'>家用化工</a><br/>
<a id='sub_a_35_5' class='sub_a' href='/product_cates/6'>皮衣保养</a><br/></td>
    <td align="left" valign="top" class="right">
    <h3 style="margin:0; padding:0;"><a id='top_a_36_5' class='top_a' href='/pages/customer'>我要洗衣</a></h3>
      <a id='sub_a_37_0' class='sub_a' href='/shops'>分店查询</a><br/>
      <a id='sub_a_38_1' class='sub_a' href='/news_cates/9'>最新活动</a> <br/><%#/pages/customer:store_news%>
      <a id='sub_a_39_2' class='sub_a' href='/news_cates/10'>日化产品使用常识</a><br/> <%#pages/customer:product_knowledge%>
      <a id='sub_a_40_3' class='sub_a' href='/news_cates/11'>洗衣常识</a><br/> <%#/pages/customer:laundry_knowledge%>
      <a id='sub_a_41_4' class='sub_a' href='/pages/customer:online_order'>在线洗衣预约</a><br/>
</table>

    </td>
  </tr>
  <tr>
    <td >&nbsp;</td>
  </tr>
</table>