<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>四川万邦欧美龙洗涤服务有限公司</title>
<meta name="keywords" content="四川万邦欧美龙洗涤服务有限公司" />
<meta name="description" content="四川万邦欧美龙洗涤有限公司的欧美龙洗衣连锁为知名品牌,继承国际先进干洗设备和管理模式,成为目前中国中高端的干洗连锁加盟集团企业！覆盖互联网加盟干洗连锁创业项目人群的80%. 加盟热线：4000-300-389" />
<style type="text/css">
<!--
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: #130c26 url(url(url())) no-repeat center;
    background-image: url();
    background-color: #130c26;
}
-->
</style></head>

<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
        <%= play_flash asset_path("flash/index_x.swf"), :width => '1000', :height => '1312' %>
   </td>
  </tr>
</table>
</body>
</html>
<!-- 1280 - 1680 -->
<!-- 1000 - 1312 -->