<div class="main_corner">
<%=image_tag asset_path("show_06.jpg"), :width =>'660px' %>
<div class="content">
<h2 style='font-size: 24px; font-weight: 600; padding: 20px 0; border-bottom: dotted 2px #333;'>
  	  新用户注册
</h2>

<% side_nav '新用户注册', 'customer' %>

<%= render 'form' %>

</div>
<%=image_tag asset_path("show_08.jpg"), :width =>'660px' %>
</div>