<% title "产品中心" %>
<% meta_keywords "欧美龙洗衣产品中心" %>
<% meta_description "欧美龙洗衣产品中心"%>
<% nav_bar [['首页', '/'],['产品中心', '/product_cates']] %>
<% side_news "产品中心" %>
<% side_nav "产品中心", 'product'%>

<%content_for :menu_side do %>
  <% @product_cates.each do |product_cate| %>
    <tr>
      <td><%=link_to "#{product_cate.name}   (#{product_cate.product_items.size}件)", product_cate_path(product_cate)  %></td>
    </tr>
  <% end %>
<% end %>

<script type="text/javascript">
// $(document).ready(function(){
//    //图片大图tips预览效果
//    $('.tip').mouseover(function(){
//       var $tip=$('<div id="tip"><div class="t_box"><div><s><i></i></s><img src="'+this.src+'" width="400px"/></div></div></div>');
//       $('body').append($tip);
//       $('#tip').show('fast');
//    }).mouseout(function(){
//       $('#tip').remove();
//    }).mousemove(function(e){
//       $('#tip').css({"top":(e.pageY-60)+"px","left":(e.pageX+30)+"px"})
//    })

//    //将图片设置为背景，以得到边框圆滑的效果
//   $("#demo img").load(function() {
//     $(this).wrap(function(){
//       return '<span class="image-wrap ' + $(this).attr('class') + '" style="position:relative; display:inline-block; background:url(' + $(this).attr('src') + ') no-repeat center center; width: ' + $(this).width() + 'px; height: ' + $(this).height() + 'px;" />';
//     });
//     $(this).css("opacity","0");
//   });
// })
</script>

<div class="product_list">
  <% @product_cates.each do |product_cate| %>
    
    <h2><%= link_to "#{product_cate.name}   更多>>", product_cate_path(product_cate.id) %></h2>
    <ul>
    <% product_cate.product_items.limit(8).each do |item|%>
      <li class="item_li">
        <%= link_to image_tag((item.image_path || asset_path("product.jpg")), :class => 'item_img'), product_item_path(item.id)%>
        <p class="product_title"><%= link_to item.title.to_s.truncate(20), product_item_path(item.id), :style=> "color: #f52969;"%></p>
      </li>
    <% end %>
    </ul>
    <br/><br/>
  <% end %>
</div>
