<% title @product_cate.name %>
<h2>
  <%= @product_cate.name %>
</h2>

<script type="text/javascript">
$(document).ready(function(){
   //图片大图tips预览效果
   $('.tip').mouseover(function(){
      var $tip=$('<div id="tip"><div class="t_box"><div><s><i></i></s><img src="'+this.src+'" width="400px"/></div></div></div>');
      $('body').append($tip);
      $('#tip').show('fast');
   }).mouseout(function(){
      $('#tip').remove();
   }).mousemove(function(e){
      $('#tip').css({"top":(e.pageY-60)+"px","left":(e.pageX+30)+"px"})
   })

   //将图片设置为背景，以得到边框圆滑的效果
  $("#demo img").load(function() {
    $(this).wrap(function(){
      return '<span class="image-wrap ' + $(this).attr('class') + '" style="position:relative; display:inline-block; background:url(' + $(this).attr('src') + ') no-repeat center center; width: ' + $(this).width() + 'px; height: ' + $(this).height() + 'px;" />';
    });
    $(this).css("opacity","0");
  });
})
</script>

<div class="normal">
  <ul>
	<% @product_cate.product_items.limit(5).each do |item|%>
	  <li class="item_li"><%= link_to image_tag((item.image_path || asset_path("product.jpg")),:class => "tip"), product_item_path(item.id)%><br/>
	  <%= link_to item.title, product_item_path(item.id) %>
	  </li>
	<% end %>
  </ul>
</div>