<%=render :partial => "layouts/slide_show2", :locals => {:img_arr =>['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg']} %>


<div class="section">
    <h3><span class="toto">&nbsp;</span>国际知名的品牌</h3>
    
    <div class="summary">欧美龙特在中国拓展市场以来，以高档次、国际化的气魄，大规模进军中国大陆， 发展了数百家极具规模的高档次洗衣连锁店, 从业人员2000多人，打造出卓越的国际化品牌。 <br/>
    欧美龙特凭借多年的国际化先进管理经验和国际化的管理标准，建立了较为完善的加盟体系、培训体系、营运支持体系和规模化的管理体系，以服务为中心，并配合品牌的规范化管理，贯穿着加盟店的加盟、筹建、开业、正常运营等各个阶段，让加盟商彻底消除后顾之忧，为每一位优秀人才奠定与国际节拍同步的未来顶级商务平台...
    <a href="/pages/join:join_standard">查看全文&gt;&gt;</a></div>

</div>  

<div class="section">
    <%=image_tag asset_path("slider/coin19.gif"), :alt =>"欧美龙领先干洗模式" %>
    <h3><span class="toto">&nbsp;</span>怎样加盟欧美龙？</h3>
    
    <div class="summary">通过访问欧美龙中国总部，也可通过电话、手机短信、Email或网上咨询留言的方式进行意向咨询。
根据自己的实际情况，确定是否加盟。<a href="/pages/join:join_process">查看全文&gt;&gt;</a>
<p><%= link_to "联系欧美龙总部", "/pages/about:address" %></p>
</div>
</div>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"><div class="left_img"><%=image_tag asset_path("slider/10.gif"), :width => '260px' %></div></td>
    <td width="50%" align="left" valign="top"><h3>特许经营</h3>
      <div class="summary">欧美龙洗衣产业连锁机构作为洗涤服务的特许经营企业，在短短的几年时间里，发展了近数千家颇具规模的加盟店，遍及祖国大江南北，融入千家万户，成为中国洗衣市场知名而卓越的品牌。<a href="/pages/join:join_franchise">查看全文&gt;&gt;</a></div>
      <h3>欧美龙特许经营具备哪些优势？</h3>
      <div class="summary">
      欧美龙凭借准确的发展方针、顶尖的设备、独特的技术、先进的管理、前沿的策划、清新的店面、完善的售后服务创造了洗衣王国神速发展的奇迹。 <a href="/pages/join:join_advantage">查看全文&gt;&gt;</a>
      </div></td>
  </tr>
</table>

<div class="section">

<h3>加盟欧美龙特应具备什么条件？</h3>

<ul>

<li>自有或借用资金不少于8万元。</li>

<li>租有或自有店铺。</li>

<li>具有中华人民共和国法人资格。</li>

<li>待人热情诚信，有团队合作精神。</li>

<li>具有优良的现代服务意识。</li>

<li>具有一定的经商经验和商业背景。</li>

<li>有从事洗衣行业的创业热情和信心。</li>

<li>愿意参加总部的培训并接受总部的各项管理。</li>

<li>本人及家人健康状况良好。</li>

<li>具有理性的投资心态，能够客观地看待投资与回报的关系，没有暴利期求。</li>

<li>遵守国家法律法规的相关规定，具有独立合法的法人或自然人资格。</li>

<li>认同并接受美一天特许经营模式及公司所倡导的企业文化理念，并能接受和遵守美一天系统运营规范。</li>

<li>具有较强的品牌意识和健康、坦诚的合作心态并自愿接受总部的管理和培训。</li>

<li>加盟投资者本人亲自运作或另有适合的经营管理者人选。</li>

<li>具有足够投资实力，且有投身洗衣业的创业热情。</li>

<li>加盟投资者本人健康状况良好，且家属亲友都支持加盟开店。</li>

<li>具有（自购或租用）符合开店要求（不低于70平方米）的经营场所。</li>

<li>具有良好的现代服务意识、较强的人际关系和沟通能力。</li>

<li>具有持之以恒、吃苦耐劳的工作精神，并有较强的财务管理能力。</li>

<li>具有理性的投资心态，能够客观地看待投资与回报的关系，具有一定的承担风险的能力。</li>

</ul>

</div>
