/*-------------------------footer site_map--------------------*/
#site_map {
	border: 0px solid #eee;
}
#site_map hr{
	color: #ccc;
}
.no_border{
	border: 0px;
}
#site_map td {
	border: 1px solid #CCC;
	border-right: 0px;
}
#site_map td.right {
	border-right: 1px solid #eee;
}
#site_map table td {
	border: 0px solid #eee;
}
#site_map p {
	margin: 6px;
	padding: 0px;
}
#site_map h3  {
    margin: 6px 0px 0px 20px;
}
#site_map h3 a {
    font-size: 16px;
	color: #ddd;
}
#site_map p a {
	font-size:12px;
	color: #eee;
}
/*-------------------------KWICKS--------------------*/
#top_menu tr td {
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #888;
	height: 35px;
	text-align: center;
}
#sub_menu {
    margin-top: 4px;
    padding: 4px;
	height: 35px;
	text-align: left;
	vertical-align: middle;
	background-color: #888;
	overflow: hidden
}
.kwicks {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	width:100%;
	height:10px;
	z-index:2;
}
.kwicks li {
	display: block;
	float: left;
	overflow: hidden;
	padding: 0;
	cursor: pointer;
	z-index:2;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666;
}
.kwicks li a {
	background-image:url(<%= asset_path("sprites_menu.jpg") %>);
	background-repeat:no-repeat;
	
	font-size: 16px;
	letter-spacing: 0.0em;
	color: #000000;
	height: 40px;
	outline:none;
	display:block;
	z-index:100;
	cursor:pointer;
	font-weight: bold;
	margin-left: 10px;
	text-decoration: none;
}
.kwicks li h3 {
	position: absolute;
	width: 120px;
	font-family: "couries new";
	font-size: 10px;
	color: #999999;
	outline:none;
	z-index:0;
	cursor:pointer;
	font-weight: normal;
	margin-left: 5px;
	text-decoration: none;
	left: 0px;
	top: 18px;
	right: 0px;
	bottom: 0px;
}
#kwick_1, #kwick_2, #kwick_3, #kwick_4, #kwick_5, #kwick_6, #kwick_7 {
	margin: 0pt;
	overflow: hidden;
	position: absolute;
	display: block;
	width: 110px;
}
#kwick_1 {
	left: 0px;
	border: none;
}
#kwick_2 {
	left: 112px;
}
#kwick_3 {
	left: 224px;
}
#kwick_4 {
	left: 336px;
}
#kwick_5 {
	left: 440px;
}
#kwick_6 {
	left: 550px;
}
#kwick_7 {
	right: 0px;
}
.kwicks a:hover, .kwicks #active {
	color: #f52969;
}
.kwicks li a:hover h3, .kwicks li #active h3 {
	color: #f52969;
}
#kwick_1 a {
	background-position:0px 0px;
}
#kwick_2 a {
	background-position:0px -50px;
}
#kwick_3 a {
	background-position:0px -192px;
}
#kwick_4 a {
	background-position:0px -100px;
}
#kwick_5 a {
	background-position:0px -150px;
}
#kwick_6 a {
	background-position:-1000px -150px;
}
#kwick_7 a {
	background-position:0px -300px;
}
 /******/
 .sub_kwicks{
    float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
}

.sub_kwicks li {
	display: none;
	width: 100%;
	border: 0px solid #f52969;
	height: 30px;
	margin: 5px 0 0 0;
	padding: 0px;
}
.sub_kwicks li a {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	padding: 4px 8px;
}
.sub_kwicks li a:hover {
	color: #f52969;
}
.sub_kwicks li a:visited {
	color: #ffffff;
}
/*******header nav end*******************************************************************/